#!/usr/bin/make -f

%:
	dh $@ --with dkms

override_dh_auto_clean:
	echo "No need to clean DKMS modules at packages build time."
	echo "DKMS modules are built at packages installation time."

override_dh_auto_build:
	echo "No need to build DKMS modules at packages build time."
	echo "DKMS modules are built at packages installation time."

override_dh_auto_install:
	$(MAKE) setup_dkms DESTDIR=$(CURDIR)/debian/tmp

override_dh_dkms:
	dh_dkms -p i2c-pcu-dkms -- dkms/dkms.conf
